* {
padding: 0px;
margin: 0px;
}

body {
background-color: #ffffff;
color: #373867;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 32px;
margin-left: 50px;
margin-right: 50px;
}

.icon-sidebar {
    margin: 18px 0px 0px 3px;
}

.main-header{
    border-bottom: 9px solid #AACE9B;
}

header .title{
    width: 1050px;
    float: left;
    color: #373867;
    opacity: 0.4;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 25px;
}


.navbar-images img {
    width: 46px;
    height: 46px;
    margin: 0px 14px 10px 0px;
}


.main-section {
    background-color: rgba(170, 206, 155, 0.1);
    margin-top: 0px;
    padding-top: 0px;
}

.main-section h2 {
    padding-top: 135px;
    font-size: 40px;
    margin-left: 8px;
}

.main-section h3 {
    font-size: 30px;
    opacity: 0.4;
    margin-top: 20px;
    margin-left: 8px;
}

.main-section p {
    width: 700px;
    padding-top: 100px;
    margin-left: 8px;
    font-size: 20px;
    opacity: 0.4;
    line-height: 30px;
}