body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    color: #373867;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 32px;

}

.icon-sidebar {
    margin-top: 18px;
    margin-left: 3px;
}

.sidebar {
    display: none;
}

.clr {
    clear: both;
}

.main-header {
    border-bottom: 9px solid #AACE9B;
}

header .title {
    float: left;
    margin-top: 25px;
    width: 1050px;
    font-size: 15px;
    font-weight: bolder;
    color: #373867;
    opacity: 0.4;

}

.socialmedia-images img {
    width: 46px;
    height: 46px;
    margin-right: 14px;
    margin-bottom: 10px;
}

.main-section {
    padding-top: 70px;
    background-color: rgba(170, 206, 155, 0.1);
}

.main-section .text-main-section {
    float: left;
    width: 749px;
    padding-left: 8px;
    padding-right: 30px;
    box-sizing: border-box;
}

.main-section .text-main-section h2 {
    padding-top: 65px;
    font-size: 40px;
}

.main-section .text-main-section h3 {
    padding-top: 20px;
    font-size: 30px;
    opacity: 0.4;
}

.main-section .text-main-section p {
    padding-top: 135px;
    width: 600px;
    font-size: 20px;
    opacity: 0.4;
    line-height: 30px;
}

.main-section .imagen-main-section img {
    width: 670px;
    height:  700px;
    margin-bottom: 50px;
    margin-right: 0px;
    padding-right: 0px;
}

.main-section button {
    width: 150px;
    height: 50px;
    margin-top: 110px;
    margin-left: 12px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

.section-App {
    padding-bottom: 70px;
    border-bottom: 1px solid #dde1e3;
}

.section-App h2 {
    margin-top: 50px;
    padding-bottom: 15px;
    width: 200px;
    border-bottom: 5px solid #AACE9B;
    font-size: 30px;
}

.section-App h3 {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 40px;
}

.section-App img {
    float: left;
    margin: 50px;
    margin-bottom: 70px;
    margin-left: 0px;
    margin-top: 20px;
}

.section-App p {
    width: 570px;
    line-height: 16px;
}


.box-left {
    float: left;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 0px;
    box-sizing: border-box;
}

.box-right {
    float: right;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.contact {
    border-bottom: 1px solid #dde1e3;
    padding-bottom: 70px;
}


.contact h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}

.my-form label {
    display:block;
    font-weight: bold;
}

.my-form .name, .lname {
    float: left;
    width: 470px;
    margin-right: 10px;

}

.my-form input {
    margin-bottom: 30px;
    padding: 8px 0px;
    width: 450px;
    height: 30px;
    background-color: #ffffff;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
}

::placeholder {
    padding-left: 10px;
}

#contact {
    width: 700px;
}

.my-form textarea {
    padding-top: 8px;
    padding-left: 15px;
    width: 1413px;
    height: 150px;
    border-radius: 5px;
    color: #373867;
    font-size: 13px;
}

.contact #button-send-it {
    width: 130px;
    height: 35px;
    margin-left: 90px;
    margin-top: 40px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

.contact #button-clear {
    width: 130px;
    height: 35px;
    margin-top: 40px;
    background-color: #ffffff;
    border-color: #373867;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

.history {
    padding-bottom: 45px;
    border-bottom: 1px solid #dde1e3;
}


.history h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}

.history .history-introduction p {
    width: 1400px;
    font: 15px;
    padding-left: 25px;
    border-left: 4px solid #373867;
    color: rgba(55, 56, 103, 0.4);
    line-height: 18px;
}

.history-box1 {
    float: left;
    margin-top: 48px;
    width: 670px;
    box-sizing: border-box;
}

.history-box1 h3 {
    margin-bottom: 45px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:#373867;
}

.history-box1 p {
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(55, 56, 103, 0.4);
    letter-spacing: 1px;
}

.history-box1 img {
    margin-top: 60px;
}

.history-box2 {
    float: right;
    margin-top: 65px;
    width: 670px;
    box-sizing: border-box;
}

.history-box2 h3 {
    padding-bottom: 26px;
    padding-left: 7px;
    margin-top: 10px;
    border-bottom: 1px solid #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:#373867;
}

.history-box2 p {
    padding-top: 10px;
    padding-left: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(55, 56, 103, 0.4);
    letter-spacing: 1px;
}

.more-content img {
    float: left;
    margin-right: 70px;
    margin-bottom: 70px;
    margin-left: 0px;
    margin-top: 20px;
    width: 170px;
    height: 170px;
}

.more-content h3 {
    width: 450px;
    margin-left: 150px;
    padding-top: 20px;
    font-size: 40px;
    line-height: 47px;
}

.more-content ol {
    padding-top: 20px;
    padding-left: 255px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.pagination {
    padding-bottom: 40px;
    border-bottom: 9px solid #AACE9B;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-top: 90px;
}

.pagination li {
    float: left;
    padding: 6px 14px;
    margin-right: 14px;
    align-items: center;
    list-style: none;
    gap: 10px;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.pagination a {
    text-decoration: none;
    color: #AACE9B;
}

footer {
    margin: 45px 0px;
    text-align: center;
}

footer p {
    margin: 15px 0px;
    font-weight: 500;
    color: #6F6877;
}