* {
padding: 0px;
margin: 0px;
}

body {
background-color: #ffffff;
color: #373867;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 32px;
margin-left: 50px;
margin-right: 50px;
}

.icon-sidebar {
    margin: 18px 0px 0px 3px;
}

.clr {
    clear: both;
}

/*--HEADER--*/

.main-header{
    border-bottom: 9px solid #AACE9B;
}

header .title{
    width: 1050px;
    float: left;
    color: #373867;
    opacity: 0.4;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 25px;
}


.navbar-images img {
    width: 46px;
    height: 46px;
    margin: 0px 14px 10px 0px;
}

/*--MAIN SECTION--*/


.main-section {
    padding-top: 70px;
    background-color: rgba(170, 206, 155, 0.1);
}

.main-section .text-main-section {
    width: 749px;
    float: left;
    padding-left: 8px;
    padding-right: 30px;
    box-sizing: border-box;
}

.main-section .text-main-section h2 {
    padding-top: 65px;
    font-size: 40px;
}

.main-section .text-main-section h3 {
    font-size: 30px;
    opacity: 0.4;
    padding-top: 20px;
}

.main-section .text-main-section p {
    font-size: 20px;
    opacity: 0.4;
    line-height: 30px;
    padding-top: 135px;
    width: 600px;
}

.main-section .imagen-main-section img {
    width: 670px;
    height:  700px;
    margin-bottom: 50px;
    margin-right: 0px;
    padding-right: 0px;
}

.main-section button {
    margin-top: 110px;
    margin-left: 12px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
    
}

/*--SECTION APPS--*/

.Section-App {
    border-bottom: 1px solid #dde1e3;
    padding-bottom: 70px;
}

.Section-App h2 {
    margin-top: 50px;
    padding-bottom: 15px;
    width: 200px;
    font-size: 30px;
    border-bottom: 5px solid #AACE9B;
}

.Section-App h3 {
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 50px;
}

.Section-App img {
    float: left;
    margin: 50px;
    width: 120px;
    margin-bottom: 70px;
    margin-left: 0px;
    margin-top: 20px;
}

.Section-App .SA-box1 {
    float: left;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.Section-App .SA-box2 {
    float: right;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.Section-App .SA-box3 {
    float: left;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.Section-App .SA-box4 {
    float: right;
    width: 709px;
    height: 277px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.Section-App p {
    width: 570px;
    line-height: 16px;
}


/*--SECTION CONTACT--*/

.contact h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}

.my-form label {
    display:block;
    font-weight: bold;
}

.my-form .name, .lname {
    float: left;
    width: 470px;
    margin-right: 10px;

}

.my-form input {
    padding: 8px 0px;
    margin-bottom: 30px;
    width: 450px;
    height: 30px;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
    background-color: #ffffff;
}

::placeholder {
    padding-left: 10px;
}

#contact {
    width: 700px;
}