* {
    box-sizing: border-box;
}

body{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: rgb(55, 56, 103);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main{
    border-bottom: 9px solid #AACE9B;
}
.socialmedia-images img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.login-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 115px;
    padding: 50px;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.login-card h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.box-form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}


input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #373867;
    font-size: 16px;
    background-color: #ffffff;
    color: #373867;
}

.box1{
    margin-bottom: 30px;
}

.box1 a, ul{
    padding-top: 15px;
    text-decoration: none;
    list-style: none;
}

.box1 li{
line-height: 2.5;
}

.box2{
    display: flex;
    justify-content: space-around;
}

.box2 a{
    padding: 20px 40px;
    background-color: #ffffff;
    border-color: #373867;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867;
    text-decoration: none;
}

.button-log-in {
    width: 130px;
    height: 65px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

.error{
    color: red;
}

/* MODAL */
.modal {
    position: fixed;
    display: none;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    overflow: auto;
}
.p-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:rgb(55, 56, 103);
    font-weight: 500;
}
.modal-content {
    width:  50%;
    height: 20%;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 15px;
    border: 1px solid #AACE9B;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}
#close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaaaaa;
}
#close:hover, .close:focus {
    color: #49a37b;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 1025px) {

    body{
        margin-left: 50px;
        margin-right: 50px;
    }

}