/* GLOBAL */

*{
    box-sizing: border-box;
    }

body{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: rgb(55, 56, 103);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
 }

.socialmedia-images img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* HEADER */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    border-bottom: 9px solid #AACE9B;
}
  
.header .header-burger-button{
    display: block;
    font-size: 1.5em;
    cursor: pointer;
}
  
.socialmedia-images {
    display: flex;
    align-items: center;    
}
  
.socialmedia-images a {
    height: 20px;
}

.socialmedia-images img {
    margin-right: 10px;
}  
  
#header .header-title a{
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(55, 56, 103, 0.4)
}

.header-title {
    justify-content: center;
    flex: 1;
    white-space: nowrap;
  }

.header-burger-button i{
    font-size: 42px;
}

/* MAIN SECTION */


#home-section{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 40px;
    background: rgba(170, 206, 155, 0.1);
    border-bottom: 1px solid #dde1e3;
}

/* SIDE BAR*/

.home-sidebar{
    display: none;
    width: 25%;
    height: 850px;
}

.sidebar-form input{
    padding: 8px 0px 6px 15px;
    height: 30px;
    background-color: #ffffff;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
}

/* HOME SECTION */

.home-description{
    display: flex;
    flex-direction: column;
}

.home-description h2{
    margin: 0px;
    font-size: 40px;
}

.home-description h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.4;
}

.home-description .img-mobile img{
    margin-top: 38px;
    margin-bottom: 38px;
    width: 100%;
    transform: scaleX(-1);
}

.home-description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.065em;
    opacity: 0.4;
}

.home-description button{
    display: none;
    width: 150px;
    height: 50px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}
    
/* FEATURES-SECTION */

.features-section{
    border-bottom: 1px solid #dde1e3;
}

.features-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.features-section h2{
    width: 200px;
    margin-bottom: 65px;
    padding-bottom: 20px;
    border-bottom: 5px solid #AACE9B;
    font-size: 30px;    
}

.features-section h3{
    font-size: 40px;
}

.features-section p{
    line-height: 16px;
}

.features-box .box{
    margin-bottom: 35px;
}

.features-box .box img{
    width: 81px;
    height: 81px;
}

/* CONTACT-SECTION */

.contact-section{
    padding-bottom: 50px;
    border-bottom: 1px solid #dde1e3;
}

.contact-section h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
label{
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100px;
    white-space: nowrap;
  }

input[type="text"], input[type="email"], input[list="Reason"], textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #373867;
    border: 1px solid #373867
}

textarea {
    margin-top: 15px;
}

.contact-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section #button-send-it {
    width: 130px;
    height: 35px;
    margin-top: 40px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

.contact-section #button-clear {
    width: 130px;
    height: 35px;
    margin-top: 40px;
    background-color: #ffffff;
    border-color: #373867;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}

/* HISTORY-SECTION*/

.history-section {
    padding-bottom: 50px;
    border-bottom: 1px solid #dde1e3;
}

.history-section h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}

.history-introduction p {
    width: 100%;
    font: 14px;
    padding-left: 25px;
    border-left: 4px solid #373867;
    color: rgba(55, 56, 103, 0.4);
    line-height: 18px;
}

.history-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-boxes h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:#373867;
}

.history-boxes p {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(55, 56, 103, 0.4);
    letter-spacing: 1px;
}

.history-boxes img {
    width: 100%;
    max-width: 679px;
    max-height: 277px;
}

/* CONTENT SECTION */

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}

.content-box .box{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

ol {
    padding: 0px;
    list-style-position: inside;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

/* PAGINATION */

.pagination {
    width: 100%;
    margin-top: 70px;
    padding-bottom: 40px;
    border-bottom: 9px solid #AACE9B;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
}

.pagination li {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    margin-right: 10px;
    list-style: none;
    gap: 10px;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.pagination li:nth-child(5), .pagination li:nth-child(6) {
  display: none;
}

.pagination a {
    text-decoration: none;
    color: #AACE9B;
}

/* FOOTER */

footer {
    margin: 45px 0px;
    text-align: center;
}

footer p {
    margin: 15px 0px;
    font-weight: 500;
    color: #6F6877;
    font-size: 12px;
}

footer .socialmedia-images {
    justify-content: center;
}


/* MEDIA QUERY LAPTOR*/

@media screen and (min-width: 601px) {
    .home-description :nth-child(3){
        order: 1;
    }
}

/* MEDIA QUERY DESKTOP 

 @media screen and (min-width: 1025px) {

    body{
        margin-left: 50px;
        margin-right: 50px;
    }

    .header-burger-button {
      display: none;
    }
  
    .header-title {
        margin-right: auto;
    }
  
    .socialmedia-images {
        margin-left: auto;
    }

    .socialmedia-images img {
        width: 40px;
        height: 40px;
      }

    #header .header-title a{
        margin-left: 0px;
        font-size: 30px;
    }

    .home-sidebar{
        display: block;
    }

    .img-mobile img{
        display: none;
    }

    .pagination li:nth-child(5), .pagination li:nth-child(6) {
    display: list-item;
    }