body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    color: rgb(55, 56, 103);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
 }

/* GLOBAL */

.socialmedia-images img{
    width: 46px;
    height: 46px;
    margin-right: 14px;
}


*{
box-sizing: border-box;
}



/* HEADER */

#header-content .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 9px solid #AACE9B;
}

#header-content .logo a{
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(55, 56, 103, 0.4);
}

.burger-button i{
    font-size: 42px;
}


#main-section-container{
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 800px;
    background: rgba(170, 206, 155, 0.1);
}


.sidebar{
    width: 25%;
    height: 850px;
}

.sidebar-form input{
    padding: 8px 0px 6px 15px;
    height: 30px;
    background-color: #ffffff;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
}


.description-images{
    background-color: rgba(32, 32, 32, 0.45);
    background-image: url(/assets/img/people-working-out-indoors-together-with-dumbbells-1.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 75%;
}

.description-images .imagen-main-section{
    color: #fff;
}



