* {
    box-sizing: border-box;
}

body{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    color: rgb(55, 56, 103);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main{
    border-bottom: 9px solid #AACE9B;
}
.socialmedia-images img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.login-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 115px;
    padding: 50px;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.login-card h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.box-form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}


input[type="text"], input[type="password"], input[type="date"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #373867;
    font-size: 16px;
    background-color: #ffffff;
    color: #373867;
}


.box1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box1 a{
    flex-wrap: nowrap;
    padding: 20px 40px;
    background-color: #ffffff;
    border-color: #373867;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867;
    text-decoration: none;
}

.button-sign-up {
    width: 130px;
    height: 65px;
    margin-left: 25px;
    background-color: #AACE9B;
    border-color: #AACE9B;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #373867
}



@media screen and (min-width: 1025px) {

    body{
        margin-left: 50px;
        margin-right: 50px;
    }

    .box-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
    }

    .box-form1{
        width: 45%;
    }

    .box-form2{
        width: 45%;
    }

}

